<p style="color: green"><%= notice %></p>
<div id='group-index' style='margin:20px'>
  <h1>Groups</h1>

  <div id="groups">
    <% @groups.each do |group| %>
      <div style='width: 22%;margin: 20px 70px;'>
        <span><%= link_to group.name, group %></span>
        <span style='float:right'>
          <%= group_relation_status(group, current_user) %>
        </span>
      </div>
      <hr>
    <% end %>
  </div>
  <div style='float:right; margin:20px'>
    <%= link_to "Create a New Group", new_group_path %>
  </div>
</div>
